.contentWrap {
	max-width: em($contentWidth);
	margin: 0 auto;
	padding: 0 em(20);
}

h1 {
	font-size: em($h1FontSize);
	font-weight: $light;
	text-align: center;
	font-family: $headingFontFamily;
	line-height: 1;
}

h2 {
	font-size: em($h2FontSize);
	font-weight: $regular;
	text-align: center;
	font-family: $headingFontFamily;
	font-style: italic;
}

p {
	padding-bottom: em(10);
}

// section colours //

.sectionDefaults {
	min-height: em(360);
	padding: em(30) 0;
	border-bottom: 1px solid lightgray;
}

.blue {
	@extend .sectionDefaults;
	background-color: lighten(skyblue,20%);
}

.light {
	@extend .sectionDefaults;
	background-color: $secondaryGray;
}

.green {
	@extend .sectionDefaults;
	background-color: lighten($green,45%);
}

// heading stuff //

.header {
	background-color: SKYBLUE;
	padding: em(50) 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	position: relative;
	z-index: 2;

	h1 {
		padding-bottom: em(10,70);
	}

	h2 {
		text-decoration: underline;
	}

	img {
		display: none;
	}
}

