.contentWrap {
	max-width: em($contentWidth);
	margin: 0 auto;
	padding: 0 em(20);
}

h1 {
	font-size: em($h1FontSize);
	font-weight: $light;
	text-align: center;
	font-family: $headingFontFamily;
	line-height: 1;
}

h2 {
	font-size: em($h2FontSize);
	font-weight: $regular;
	text-align: center;
	font-family: $headingFontFamily;
	
	.copy & {
		padding-bottom: em(10,$h2FontSize);
	}
}

p {
	padding-bottom: em(10);
}

// section colours //

.sectionDefaults {
	min-height: em(360);
	padding: em(30) 0;
	border-bottom: 1px solid lightgray;
}

.dark {
	@extend .sectionDefaults;
	background-color: darken($secondaryGray,5%);
}

.light {
	@extend .sectionDefaults;
	background-color: $secondaryGray;
}

.green {
	@extend .sectionDefaults;
	background-color: lighten($green,45%);
}

// heading stuff //

.header {
	background-color: darken($secondaryGray,5%);
	padding: em(100) 0;
	position: relative;
	z-index: 2;

	h1 {
		padding-bottom: em(10,70);
	}

	h2 {
		text-decoration: underline;
		font-style: italic;
	}

	img {
		display: none;
	}
}

// panels //

.panels {
	@include display(flex);
	@include justify-content(space-between);
	padding-top: em(30);
	@include perspective(1000px);	
}

.panel {
	width: 32%;
	background-color: $mapRed;
	padding-bottom: 32%;
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
	@include transform-style(preserve-3d);
	@include transition(transform 0.3s linear);
	cursor: pointer;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.4);

	&:nth-child(1) {
		background-image: url(../../img/mountain1.jpg);
	}
	&:nth-child(2) {
		background-image: url(../../img/path.jpg);
	}
	&:nth-child(3) {
		background-image: url(../../img/moon.jpg);
	}

	&.active {
		@include transform(rotateX(0)rotateY(180deg)rotateZ(0));
		box-shadow: -1px 1px 1px rgba(0,0,0,0.4);
	}
}

// form stuff //

$module: 		'form';

.#{$module} {

	padding-top: em(30);

	&__inner {
		ul {
			&:first-child {
				float: left;
				margin-right: em(-300);
				width: em(300);
				padding-left: 0;
				position: relative;
				z-index: 2;
			}

			float: right;
			width: 100%;
			padding-left: em(310);

			>li {
				margin-bottom: em(5);
			}
		}

	}

	&__text {

		.label {
			display: block;
			float: left;
			width: em(100);
		}

		.required {

		}

		input {
			color: $baseGray;
			outline: none !important;
			border: 1px solid lightGray;
			padding: em(3) em(5);
		}
	}

	&__textarea {
		width: 100%;
		padding: em(5) em(10);
		outline: none !important;
		border: 1px solid lightGray;
		font-family: $baseFontFamily;
		height: em(99);
		margin-top: 1px;
		max-width: 500px;
	}

}

// footer //

.footer {
	padding: em(50,12) 0;
	background-color: darken($green,10%);
	color: $white;
	@include font-size(12);
	border-top: 2px solid $baseGray;
}







